<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink='/'>Yamano Project</a>

    <!-- this is for responsive -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Find Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Compare</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ptt format</a>
      </li>
    </ul> -->
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" dropdown container="body">
        <a id="car-link" dropdownToggle (click)="(false)" class="nav-link dropdown-toggle"
          aria-controls="car-link-dropdown">##Car
        </a>
        <ul id="car-link-dropdown" *dropdownMenu class="dropdown-menu mt-2"
            role="menu"
          aria-labelledby="car-link">
          <li><a class="dropdown-item nav-link" routerLink='/car/db' routerLinkActive='active'>DB</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/car/find' routerLinkActive='active'>Find Cars</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/car/news' routerLinkActive='active'>News</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/car/compare' routerLinkActive='active'>Compare</a></li>
          <li><a class="dropdown-item nav-link" routerLink='/car/pttformat' routerLinkActive='active'>Ptt format</a></li>
        </ul>
      </li>

      <ng-container *ngIf="accountService.currentUser$ | async" >
        <li class="nav-item" dropdown container="body">
          <a id="course-link" dropdownToggle (click)="(false)" class="nav-link dropdown-toggle"
             aria-controls="course-link-dropdown">##Course
          </a>
          <ul id="course-link-dropdown" *dropdownMenu class="dropdown-menu mt-2"
              role="menu"
              aria-labelledby="course-link">
            <li><a class="dropdown-item nav-link" routerLink='/course/members' routerLinkActive='active'>Matches</a></li>
            <li><a class="dropdown-item nav-link" routerLink='/course/lists' routerLinkActive='active'>Lists</a></li>
            <li><a class="dropdown-item nav-link" routerLink='/course/messages' routerLinkActive='active'>Messages</a></li>
            <li><a class="dropdown-item nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a></li>
          </ul>
        </li>
      </ng-container>

    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
        autocomplete="off">
      <input name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2" 
        type="text" placeholder="Username" />
      <input name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2" 
        type="password" placeholder="Password"/>
      <button class="btn btn-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
